<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="layui/css/layui.css" rel="stylesheet">
    <script src="layui/layui.js"></script>
    <style>
        .layer-foot {
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 48px;
            line-height: 45px;
            z-index: 2;
            background-color: #fff;
            text-align: center;
            border-top: 1px solid #eee;
        }
    </style>
</head>
<body>
<iframe width=0 height=0 frameborder=0 id="myiframe" name="myiframe"></iframe>
<form class="layui-form" onsubmit="return false;" style="margin-top: 5%" target="myiframe">
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱用户</label>
        <div class="layui-input-block" style="width: 60%">
            <input type="text" name="userName" id="userName" required  lay-verify="required" placeholder="请输入邮箱账号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱账号</label>
        <div class="layui-input-block" style="width: 60%">
            <input type="text" name="email" id="email" required  lay-verify="required" placeholder="请输入邮箱账号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱密码</label>
        <div class="layui-input-block" style="width: 60%">
            <input type="password" name="emailPwd" id="emailPwd" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱类型</label>
        <div class="layui-input-block" style="width: 60%">
            <select name="emailType" id="emailType" lay-verify="required">
                <option value="0">网易163邮箱</option>
                <option value="1">新浪邮箱</option>
                <option value="2">企业邮箱</option>
                <option value="3">QQ邮箱</option>
                <option value="4">移动139邮箱</option>
                <option value="4">微软outlook邮箱</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">邮件模板</label>
        <div class="layui-input-block" style="width: 60%">
            <textarea name="template" id="template" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item" style="align-content: center;margin-left: 50%;margin-top: 10%;">
            <button class="layui-btn"  lay-submit lay-filter="formDemo" id="sub" onclick="submit()" style="">保存</button>
    </div>
</form>

<script>
    $(function(){
        $.ajax({
            url:'/email/getEmailList',
            data:JSON.stringify({}),
            type: 'POST',
            dataType:'json',
            contentType: 'application/json',
            success:function(result){
                debugger;
                if (result.code == 200){
                    var data = result.data;
                    $("#userName").val(data.userName);
                    $("#email").val(data.email);
                    $("#emailPwd").val(data.emailPwd);
                    $("#emailType").val(data.emailType);
                    $("#template").val(data.template);

                    layui.use('form', function(){
                        var form = layui.form;
                        form.render();
                    });
                }
            }
        });
    });

    layui.use('form', function(){
        var form = layui.form;
        //提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url: '/email/updateEmail',
                data: JSON.stringify(data.field),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    debugger;
                    if (result.code == 200) {
                        layer.msg(result.msg, {icon: 1, time: 2000});
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 2000});
                    }
                }
            });
        });

    });

</script>


</body>
</html>