<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="https://www.layuicdn.com/layui/css/layui.css" rel="stylesheet">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <style>
        .layui-table-img {
            width: 100px;  /* 设置图片宽度 */
            height: 100px; /* 设置图片高度 */
        }
        .layui-table-view .layui-table {
            table-layout: fixed; /* 使表格布局固定，以便设置行高生效 */
        }

        .layui-table-cell  {
            height: 100px; /* 设置行高 */
            line-height: 100px; /* 设置行高 */
        }
    </style>
</head>
<body>
<form autocomplete="off" onsubmit="return false;" class="form-inline" id="batchMgrForm">
    <div class="layui-card" style="margin-bottom: 0px;">
        <div class="layui-card-body">
        </div>
    </div>
    <div class="layui-card" style="margin-top: 1px;border-bottom:1px solid #ccc;">
        <div class="layui-card-body">
            <div class="layui-row">
                <div class="layui-form-item">
                    <div style="width: 50%;float: left;">
                        <label class="layui-form-label">主治症状</label>
                        <div class="layui-input-block">
                            <input type="text" name="bak" id="bak" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <button type="button" class="layui-btn" style="margin-left: 10px;" onclick="query()">搜索</button>


                    <!-- 添加按钮 -->
                    <button type="button" class="layui-btn layui-btn-danger" style="float: right;" onclick="crawlAll()">爬取全部</button>

                    <!-- 添加按钮 -->
                    <button type="button" class="layui-btn layui-btn-primary" style="float: right;" onclick="openAddPage()">添加药品</button>

                   </div>
                <table class="layui-hide" id="list" style="line-height: 80px;"></table>
            </div>
        </div>
    </div>
</form>


<script>
    // 点击添加按钮时触发的函数
    function openAddPage() {
        // 打开一个弹窗
        layer.open({
            type: 2,
            title: '添加药品', // 弹窗标题
            offset: '120px',
            area: ['800px', '200px'], // 弹窗宽高
            content: '/durgAdd', // 弹窗内容，这里填写添加页面的URL
            maxmin: true
        });
    }

    layui.use('table', function(){
        var table = layui.table;
        // 已知数据渲染
        var inst = table.render({
            elem: '#list',
            cols: [
                [ //标题栏
                    {field: 'id', title: 'ID', width: 150, style: 'height: 100px; line-height: 100px;'},
                    {field: 'name', title: '药品名称', width: 150,},
                    // {field: 'bigname', title: '详细名称', width: 100},
                    {field: 'bak', title: '主治症状', width: 180},
                    {field: 'img1', title: '百度健康药品图片', width: 200, templet: function(d){
                            if (d.img1) {
                                return '<img src="'+ d.img1 +'" class="layui-table-img" onclick="enlargeImage(\'' + d.img1 + '\')"/>';
                            } else {
                                return '';
                            }
                        }},

                    {field: 'price1', title: '百度健康价格', width: 150},
                    {field: 'img2', title: '阿里大药房药品图片', width: 200, templet: function(d){
                            if (d.img2) {
                                return '<img src="'+ d.img2 +'" class="layui-table-img" onclick="enlargeImage(\'' + d.img2 + '\')"/>';
                            } else {
                                return '';
                            }
                        }},

                    {field: 'price2', title: '阿里大药房价格', width: 150},
                    {field: 'instructions', title: '说明书'},
                    {field:'OPER', title: '操作',fixed:'right',align:'center',width: 220, templet : function(row){
                            var temp="";

                            temp+= ' <span href="javascript:void(0)" class="layui-btn layui-btn-xs layui-btn-primary" onclick="look(\''+row.id+'\')">说明书</span> ';

                            temp+= ' <span href="javascript:void(0)" class="layui-btn layui-btn-xs layui-btn-warn" onclick="runPython(\''+row.id+'\', \''+row.name+'\')">爬取最新</span> ';

                            temp += '<span href="javascript:void(0)" class="layui-btn layui-btn-xs layui-btn-danger" onclick="del(\'' + row.id + '\', \''+row.name+'\')">删除</span>';

                            return temp;
                        }}
                ]
            ],
            url: '/durgData',  // 后端接口地址
            page: true, // 是否显示分页
            limit:50,
            limits:[50,100,500],
            height: 'full-200',

        });

// 监听表格行点击事件
//         table.on('row(list)', function(obj) {
//             // obj.data 为当前行的数据对象
//             var rowData = obj.data;
//
//             // 获取需要显示的文本，这里假设你想显示 `instructions` 字段的内容
//             var textToShow = rowData.instructions;
//             if(textToShow == null){
//                 textToShow=""
//
//             }
//             // 包装文本内容在 <pre> 标签中，保留文本格式
//             var formattedText = '<pre>' + textToShow + '</pre>';
//
//             // 弹窗显示美化后的文本内容
//             layer.open({
//                 type: 1,
//                 title: '查看说明书',
//                 content: formattedText,
//                 area: ['800px', '600px']
//             });
//         });
    });

    function look(id){
        // 在这里处理点击查看说明书的逻辑，弹出小窗口展示字段内容
        $.ajax({
            url: '/getDurgById?id=' + id,
            type: 'get',
            success: function (result) {
                var textToShow = result;
                if(textToShow == null){
                    textToShow=""

                }
                // 包装文本内容在 <pre> 标签中，保留文本格式
                var formattedText = '<pre>' + textToShow + '</pre>';
                layer.open({
                    type: 1,
                    title: "说明书",
                    content:formattedText,
                    area: ['800px', '600px']
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                layer.alert('出现网络故障，请稍后再试！', { icon: 7, time: 15000 });
            }
        });
    }

    // 模拟一个接口调用成功后刷新表格的操作
    function refreshTable() {
        // 在实际场景中，你需要调用你的接口，然后在接口回调中执行下面的代码
        // 调用 table.reload 方法刷新表格
        // layui.table.reload('list'); // test 为表格 lay-filter 的值，需要与 table.render 中的 lay-filter 一致

        // 重新设置表格的 URL
        layui.table.reload('list', {
            url: '/durgData?bak=' +$("#bak").val(),
        });
    }

    function query() {
        refreshTable();
    }

    function crawlAll(){
        $.ajax({
            url : '/crawlingAllData',
            type : 'get',
            success : function(result) {
                layer.msg("爬取全部成功", {icon: 1, time: 2000});

                refreshTable();
            },error : function(jqXHR, textStatus, errorThrown) {
                layer.alert("出现网络故障,请稍后再试!",{icon:7,time:15000});
            }
        });
    }

    function runPython(id, keyword) {
        // 在请求开始时显示加载提示
        var loadingIndex = layer.load(2, {time: 10 * 1000}); // 10秒超时时间

        $.ajax({
            url: '/crawlingData?id=' + id + '&keyword=' + keyword,
            type: 'get',
            success: function (result) {
                // 请求成功时隐藏加载提示
                layer.close(loadingIndex);

                // 显示爬取成功消息
                layer.msg("爬取成功", {icon: 1, time: 5000});

                // 刷新整个页面
                location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // 请求失败时隐藏加载提示
                layer.close(loadingIndex);

                // 显示网络故障提示
                layer.alert("出现网络故障，请稍后再试!", {icon: 7, time: 15000});
            }
        });
    }

    function del(id, name) {
        layer.confirm('确认删除吗？', {
            icon: 3, // 图标（0-7），可以根据需求修改
            title: '提示',
            btn: ['确认', '取消'] // 按钮
        }, function () {
            // 用户点击确认按钮时执行的操作
            $.ajax({
                url: '/delDurg?id=' + id+"&name="+name,
                type: 'get',
                success: function (result) {
                    layer.msg("删除成功", {icon: 1, time: 2000});
                    refreshTable();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    layer.alert('出现网络故障，请稍后再试！', { icon: 7, time: 15000 });
                }
            });
            layer.closeAll(); // 关闭确认框
        }, function () {
            // 用户点击取消按钮时执行的操作
            layer.closeAll(); // 关闭确认框
        });
    }
    function enlargeImage(imgUrl) {
        layer.photos({
            photos: {
                data: [{
                    src: imgUrl
                }]
            },
            shadeClose: true,
            closeBtn: 2,
            anim: 0
        });
    }


</script>

</body>
</html>