<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="layui/css/layui.css" rel="stylesheet">
    <script src="layui/layui.js"></script>
</head>
<body>
<form  autocomplete="off" onsubmit="return false;" class="form-inline" id="batchMgrForm">
    <div class="layui-card" style="margin-bottom: 0px;">
        <div class="layui-card-body">
        </div>
    </div>
    <div class="layui-card" style="margin-top: 1px;border-bottom:1px solid #ccc;">
        <div class="layui-card-body">
            <div class="layui-row">

                <div class="layui-form-item" >
                    <div style="width: 50%;float: left;">
                        <label class="layui-form-label">主治症状</label>
                        <div class="layui-input-block" >
                            <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">


                        </div>
                    </div>
                    <button type="button" class="layui-btn " style="margin-left: 10px;" onclick="list.query()"> 搜索</button>
                </div>


                <table class="layui-hide" id="list"></table>
            </div>
        </div>
    </div>


</form>



<script>
    layui.use('table', function(){
        var table = layui.table;
        // 已知数据渲染
        var inst = table.render({
            elem: '#list',
            cols: [
                [ //标题栏
                {field: 'id', title: 'ID', width: 80, sort: true},
                {field: 'username', title: '药品名称', width: 120},
                {field: 'sex', title: '药品别名', width: 80},
                {field: 'sign', title: '主治症状', minWidth: 160},
                {field: 'city', title: '淘宝大药房', width: 100},
                {field: 'experience', title: '百度健康', width: 80, sort: true}
            ]
            ],
            data: [
                { // 赋值已知数据
                "id": "10001",
                "username": "布洛芬缓释胶囊",
                "sex": "布洛芬",
                "city": "19.9",
                "sign": "布洛芬（Ibuprofen）为解热镇痛类，非甾体抗炎药。本品通过抑制环氧化酶，减少前列腺素的合成，产生镇痛、抗炎作用；通过下丘脑体温调节中枢而起解热作用。",
                "experience": "218"
            }, {
                "id": "10002",
                "username": "布洛芬缓释胶囊",
                "sex": "布洛芬",
                "city": "19.9",
                "sign": "布洛芬（Ibuprofen）为解热镇痛类，非甾体抗炎药。本品通过抑制环氧化酶，减少前列腺素的合成，产生镇痛、抗炎作用；通过下丘脑体温调节中枢而起解热作用。",
                "experience": "218"
            }, {
                "id": "10003",
                "username": "布洛芬缓释胶囊",
                "sex": "布洛芬",
                "city": "19.9",
                "sign": "布洛芬（Ibuprofen）为解热镇痛类，非甾体抗炎药。本品通过抑制环氧化酶，减少前列腺素的合成，产生镇痛、抗炎作用；通过下丘脑体温调节中枢而起解热作用。",
                "experience": "218"
            }, {
                "id": "10004",
                "username": "布洛芬缓释胶囊",
                "sex": "布洛芬",
                "city": "19.9",
                "sign": "布洛芬（Ibuprofen）为解热镇痛类，非甾体抗炎药。本品通过抑制环氧化酶，减少前列腺素的合成，产生镇痛、抗炎作用；通过下丘脑体温调节中枢而起解热作用。",
                "experience": "218"
            }, {
                "id": "10005",
                "username": "布洛芬缓释胶囊",
                "sex": "布洛芬",
                "city": "19.9",
                "sign": "布洛芬（Ibuprofen）为解热镇痛类，非甾体抗炎药。本品通过抑制环氧化酶，减少前列腺素的合成，产生镇痛、抗炎作用；通过下丘脑体温调节中枢而起解热作用。",
                "experience": "218"
            }, {
                "id": "10006",
                "username": "布洛芬缓释胶囊",
                "sex": "布洛芬",
                "city": "19.9",
                "sign": "布洛芬（Ibuprofen）为解热镇痛类，非甾体抗炎药。本品通过抑制环氧化酶，减少前列腺素的合成，产生镇痛、抗炎作用；通过下丘脑体温调节中枢而起解热作用。",
                "experience": "218"
            }, {
                "id": "10007",
                "username": "布洛芬缓释胶囊",
                "sex": "布洛芬",
                "city": "19.9",
                "sign": "布洛芬（Ibuprofen）为解热镇痛类，非甾体抗炎药。本品通过抑制环氧化酶，减少前列腺素的合成，产生镇痛、抗炎作用；通过下丘脑体温调节中枢而起解热作用。",
                "experience": "218"
            }, {
                "id": "10008",
                "username": "布洛芬缓释胶囊",
                "sex": "布洛芬",
                "city": "19.9",
                "sign": "布洛芬（Ibuprofen）为解热镇痛类，非甾体抗炎药。本品通过抑制环氧化酶，减少前列腺素的合成，产生镇痛、抗炎作用；通过下丘脑体温调节中枢而起解热作用。",
                "experience": "218"
            }
            ],
            //skin: 'line', // 表格风格
            //even: true,
            page: true, // 是否显示分页
            limits: [5, 10, 15],
            height:700,
            limit: 5 // 每页默认显示的数量
        });
    });
</script>

</body>
</html>