<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="layui/css/layui.css" rel="stylesheet">
    <script src="layui/layui.js"></script>
</head>
<body>
<form  autocomplete="off" onsubmit="return false;" class="form-inline" id="batchMgrForm">
    <div class="layui-card" style="margin-bottom: 0px;">
        <div class="layui-card-body">
        </div>
    </div>
    <div class="layui-card" style="margin-top: 1px;border-bottom:1px solid #ccc;">
        <div class="layui-card-body">
            <div class="layui-row">

                <div class="layui-form-item" >
                    <!--<div style="width: 50%;float: left;">
                        <label class="layui-form-label">主治症状</label>
                        <div class="layui-input-block" >
                            <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">


                        </div>
                    </div>
                    <button type="button" class="layui-btn " style="margin-left: 10px;" onclick="list.query()"> 搜索</button>-->
                    <button type="button" class="layui-btn layui-bg-red" style="float: right;margin-left: 10px;" onclick="delUser('')"> 删除</button>
                    <button type="button" class="layui-btn layui-bg-green" style="float: right;" onclick="addUser()"> 新增</button>
                </div>


                <table class="layui-hide" id="list"></table>
            </div>
        </div>
    </div>


</form>



<script>
    layui.use('table', function(){
        var table = layui.table;
        // 已知数据渲染
        var inst = table.render({
            elem: '#list',
            url:'/getUserList',
            cols: [
                [ //标题栏
                    {type: 'checkbox'},
                {field: 'email', title: '登录账号'},
                {field: 'userName', title: '用户名'},
                {field: 'securityIssues', title: '密保问题', minWidth: 160},
                {
                    title: '操作',
                    templet:function(row){
                        var html='';
                        html += '<div>'
                            +'<span href="javascript:void(0)" class="layui-btn layui-btn-xs" onclick="reset(\''+row.id+'\')">重置密码</span>'
                            +'</div>';
                        return  html;
                    }
                }
            ]
            ],
            height:700,
        });
    });

    /**
     * 添加用户
     */
    function addUser(){
        var index = layer.open({
            type: 2,
            title: '添加用户',
            area: ['800px', '600px'],
            content: '/addUser'
        });
    }

    function reset(id){
        layer.prompt({formType:0,title:"请输入新密码...",value:''},
            function(value, index){
                /*layer.alert(value);
                layer.alert(id);*/
                $.ajax({
                    url:'/admin/reset',
                    data:JSON.stringify({id:id,password:value}),
                    type: 'POST',
                    dataType:'json',
                    contentType: 'application/json',
                    success:function(result){
                        if (result.code == 200){
                            debugger;
                            layer.msg(result.msg, {icon: 1,time: 2000});
                        }else{
                            layer.msg(result.msg, {icon: 2,time: 2000});
                        }
                    }
                });
                layer.close(index);
            });
    }

    delUser = function (id) {
        layer.confirm('确定删除用户？', {
            btn: ['确定', '取消']
        }, function () {
            layer.msg('删除成功', {
                time: 1000
            }, function () {
                layer.close(index);
            });
        }, function () {
            layer.close(index);
        });
    }

</script>

</body>
</html>